<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Edit <%=link_to @game.title, campaign_game_path(@campaign) %></h1>

        <%= render 'form', :game=> @game, :campaign=> @campaign %>
      </div>
    </div>
</div>